In [ ]:
# Dependencies
import sqlalchemy 
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from config import password
import pandas as pd
from pprint import pprint

In [2]:
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/movie_db')
conn = engine.connect()

In [3]:
Base = automap_base()

# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

# Print all of the classes mapped to the Base
Base.classes.keys()

['pop_100_web',
 'pop_100_api',
 'top_250_web',
 'top_250_api',
 'genre_top',
 'genre_pop']

In [4]:
# Save references to each table
Pop_100_web = Base.classes.pop_100_web
Pop_100_api = Base.classes.pop_100_api
Top_250_web = Base.classes.top_250_web
Top_250_api = Base.classes.top_250_api
Genre_top = Base.classes.genre_top
Genre_pop = Base.classes.genre_pop

In [5]:
# Finding all movies in the top 250 all time highest rated of a particular genre
genre = input("Enter a genre:").title()

sql = f"""
SELECT t.rating_rank, t.title, g.genre
FROM Top_250_web as t
JOIN Genre_top as g
ON t.title = g.title
WHERE genre = '{genre}'
"""

# Checking if the genre was found in the table
if(len(engine.execute(sql).fetchall()) == 0):
    print("Genre not found!")
else:
    pprint(engine.execute(sql).fetchall())

Enter a genre: crime

[(2, 'The Godfather', 'Crime'),
 (3, 'The Godfather: Part II', 'Crime'),
 (4, 'The Dark Knight', 'Crime'),
 (5, '12 Angry Men', 'Crime'),
 (8, 'Pulp Fiction', 'Crime'),
 (17, 'Goodfellas', 'Crime'),
 (20, 'Se7en', 'Crime'),
 (22, 'City of God', 'Crime'),
 (23, 'The Silence of the Lambs', 'Crime'),
 (28, 'The Green Mile', 'Crime'),
 (31, 'LÃ©on: The Professional', 'Crime'),
 (32, 'The Usual Suspects', 'Crime'),
 (43, 'The Departed', 'Crime'),
 (60, 'Joker', 'Crime'),
 (89, 'Reservoir Dogs', 'Crime'),
 (103, 'A Clockwork Orange', 'Crime'),
 (105, 'Snatch', 'Crime'),
 (106, 'Scarface', 'Crime'),
 (107, 'Taxi Driver', 'Crime'),
 (112, 'The Sting', 'Crime'),
 (119, 'Double Indemnity', 'Crime'),
 (120, 'To Kill a Mockingbird', 'Crime'),
 (123, 'Heat', 'Crime'),
 (124, 'L.A. Confidential', 'Crime'),
 (127, 'Rashomon', 'Crime'),
 (141, 'The Wolf of Wall Street', 'Crime'),
 (144, 'Lock, Stock and Two Smoking Barrels', 'Crime'),
 (151, 'Dial M for Murder', 'Crime'),
 (151, 'Dial M for Murder', 'Crime'),
 (152, 'Three Billboards Outside Ebbing, Missouri', 'Crime'),
 (157, 'No Country for Old Men', 'Crime'),
 (174, 'Kill Bill: Vol. 1', 'Crime'),
 (177, 'Memories of Murder', 'Crime'),
 (178, 'Fargo', 'Crime'),
 (182, 'On the Waterfront', 'Crime'),
 (189, 'The Grand Budapest Hotel', 'Crime'),
 (192, 'Catch Me If You Can', 'Crime'),
 (195, 'The Big Lebowski', 'Crime'),
 (197, 'Prisoners', 'Crime'),
 (212, 'Cool Hand Luke', 'Crime'),
 (226, 'Spotlight', 'Crime'),
 (233, 'Gangs of Wasseypur', 'Crime')]

In [6]:
# Finding a list of movies that are both top rated all time and currently most popular based on genre
genre = input("Enter a genre:").title()

sql = f"""
SELECT p.title, g.genre
FROM Genre_pop as p
JOIN Genre_top as g
ON p.title = g.title
WHERE p.genre = '{genre}' AND g.genre = '{genre}'
"""

# Checking if the genre was found in the table
if(len(engine.execute(sql).fetchall()) == 0):
    print("Genre not found!")
else:
    pprint(engine.execute(sql).fetchall())

Enter a genre: comedy

[('Parasite', 'Comedy')]

In [7]:
# From the most popular movies, return a list of movies above a certain IMDB rating
imdb = input("Enter a IMDB rating between 0 and 10:")

sql = f"""
SELECT title, rating 
FROM Pop_100_web
WHERE rating > {imdb}
ORDER BY rating DESC
"""

# Checking if there are any matches in the table
if(len(engine.execute(sql).fetchall()) == 0):
    print("No movies found!")
else:
    pprint(engine.execute(sql).fetchall())

Enter a IMDB rating between 0 and 10: 8

[('The Shawshank Redemption', 9.3),
 ('The Godfather', 9.2),
 ('The Dark Knight', 9.0),
 ('Soorarai Pottru', 8.9),
 ('The Lord of the Rings: The Fellowship of the Ring', 8.8),
 ("One Flew Over the Cuckoo's Nest", 8.7),
 ('Hamilton', 8.6),
 ('Parasite', 8.6),
 ('Interstellar', 8.6),
 ('Joker', 8.5),
 ('Spider-Man: Into the Spider-Verse', 8.4),
 ('Avengers: Endgame', 8.4),
 ('Inglourious Basterds', 8.3),
 ('1917', 8.3),
 ('The Wolf of Wall Street', 8.2),
 ('Mank', 8.2)]