In [1]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize
import requests as req
from config import api_key
from pprint import pprint
import requests
import json
from datetime import datetime
import numpy as np

In [2]:
# Create list of top 250 IMBD movies to loop through 
table_MN = pd.read_html('https://www.imdb.com/chart/moviemeter/')
pop_100_list=table_MN[0]["Rank & Title"]
pop_100_list=list(pop_100_list.apply(lambda x: x.split("(")[0]))

In [3]:
# Create base
base_url = "http://www.omdbapi.com/?t="
api_key = "&apikey=" + api_key

# Set up lists to hold response data
Title=[]
Year=[]
Rated=[]
Released=[]
Runtime=[]
Genre=[]
Director=[]
Writer=[]
Actors=[]
Plot=[]
Language=[]
Country=[]
Poster=[]
Metascore=[]
imdbID=[]
imdbRating=[]
imdbVotes=[]
Type=[]
Production=[]

In [4]:
# Loop through movies and add info to lists 
for movie in pop_100_list:
    target_url = base_url + movie + api_key
    response = requests.get(target_url).json()
    
    Title.append(response.get('Title'))
    Year.append(response.get('Year'))
    Rated.append(response.get('Rated'))
    Released.append(response.get('Released'))
    Runtime.append(response.get('Runtime'))
    Genre.append(response.get('Genre'))
    Director.append(response.get('Director'))
    Writer.append(response.get('Writer'))
    Actors.append(response.get('Actors'))
    Plot.append(response.get('Plot'))
    Language.append(response.get('Language'))
    Country.append(response.get('Country'))
    Poster.append(response.get('Poster'))
    Metascore.append(response.get('Metascore'))
    imdbID.append(response.get('imdbID'))
    imdbRating.append(response.get('imdbRating'))
    imdbVotes.append(response.get('imdbVotes'))
    Type.append(response.get('Type'))
    Production.append(response.get('Production'))

In [5]:
# Creating the dataframe
pop_100_df = pd.DataFrame({
    "Title":Title,
    "Year":Year,
    "Rated":Rated,
    "Released":Released,
    "Runtime":Runtime,
    "Director":Director,
    "Plot":Plot,
    "Poster":Poster,
    "Metascore":Metascore,
    "imdbID":imdbID,
    "imdbRating":imdbRating,
    "imdbVotes":imdbVotes,
    "Type":Type
})

In [6]:
# Check for null value rows
pop_100_df[pop_100_df.isnull().any(axis=1)]

pop_100_df.replace("N/A", np.NaN, inplace = True)

pop_100_df["imdbID"] = pop_100_df["imdbID"].drop_duplicates()

# Drop rows
pop_100_df.dropna(how='any', inplace = True)

In [7]:
# Adding a rank column by resetting the index
pop_100_df.reset_index(inplace = True)

In [8]:
# Increasing the value of the rank column by 1
pop_100_df.rename(columns = {"index": "Rank"}, inplace = True)
pop_100_df["Rank"] = pop_100_df["Rank"].apply(lambda x: x + 1)
pop_100_df.head()

,Rank,Title,Year,Rated,Released,Runtime,Director,Plot,Poster,Metascore,imdbID,imdbRating,imdbVotes,Type
0,7,The New Mutants,2020,PG-13,28 Aug 2020,94 min,Josh Boone,"Five young mutants, just discovering their abi...",https://m.media-amazon.com/images/M/MV5BZDQ2NT...,43,tt4682266,5.5,"13,285",movie
1,8,Freaky,2020,R,13 Nov 2020,102 min,Christopher Landon,After swapping bodies with a deranged serial k...,https://m.media-amazon.com/images/M/MV5BMTRkYm...,66,tt10919380,6.9,"2,129",movie
2,11,Holidate,2020,TV-MA,28 Oct 2020,103 min,John Whitesell,"Fed up with being single on holidays, two stra...",https://m.media-amazon.com/images/M/MV5BYWVmYT...,44,tt9866072,6.1,"12,141",movie
3,13,Tenet,2020,PG-13,03 Sep 2020,150 min,Christopher Nolan,"Armed with only one word, Tenet, and fighting ...",https://m.media-amazon.com/images/M/MV5BYzg0NG...,69,tt6723592,7.8,"142,673",movie
4,14,The Trial of the Chicago 7,2020,R,16 Oct 2020,129 min,Aaron Sorkin,The story of 7 people on trial stemming from v...,https://m.media-amazon.com/images/M/MV5BYjYzOG...,76,tt1070874,7.9,"50,886",movie

In [9]:
# Removing the "min" from the Runtime string
pop_100_df["Runtime"] = pop_100_df["Runtime"].str[:-3]
pop_100_df.head()

,Rank,Title,Year,Rated,Released,Runtime,Director,Plot,Poster,Metascore,imdbID,imdbRating,imdbVotes,Type
0,7,The New Mutants,2020,PG-13,28 Aug 2020,94,Josh Boone,"Five young mutants, just discovering their abi...",https://m.media-amazon.com/images/M/MV5BZDQ2NT...,43,tt4682266,5.5,"13,285",movie
1,8,Freaky,2020,R,13 Nov 2020,102,Christopher Landon,After swapping bodies with a deranged serial k...,https://m.media-amazon.com/images/M/MV5BMTRkYm...,66,tt10919380,6.9,"2,129",movie
2,11,Holidate,2020,TV-MA,28 Oct 2020,103,John Whitesell,"Fed up with being single on holidays, two stra...",https://m.media-amazon.com/images/M/MV5BYWVmYT...,44,tt9866072,6.1,"12,141",movie
3,13,Tenet,2020,PG-13,03 Sep 2020,150,Christopher Nolan,"Armed with only one word, Tenet, and fighting ...",https://m.media-amazon.com/images/M/MV5BYzg0NG...,69,tt6723592,7.8,"142,673",movie
4,14,The Trial of the Chicago 7,2020,R,16 Oct 2020,129,Aaron Sorkin,The story of 7 people on trial stemming from v...,https://m.media-amazon.com/images/M/MV5BYjYzOG...,76,tt1070874,7.9,"50,886",movie

In [10]:
# Formatting the date to be read by SQL
pop_100_df["Released"] = pop_100_df["Released"].apply(lambda x: datetime.strptime(x, "%d %b %Y").strftime("%Y-%m-%d"))
pop_100_df.head()

,Rank,Title,Year,Rated,Released,Runtime,Director,Plot,Poster,Metascore,imdbID,imdbRating,imdbVotes,Type
0,7,The New Mutants,2020,PG-13,2020-08-28,94,Josh Boone,"Five young mutants, just discovering their abi...",https://m.media-amazon.com/images/M/MV5BZDQ2NT...,43,tt4682266,5.5,"13,285",movie
1,8,Freaky,2020,R,2020-11-13,102,Christopher Landon,After swapping bodies with a deranged serial k...,https://m.media-amazon.com/images/M/MV5BMTRkYm...,66,tt10919380,6.9,"2,129",movie
2,11,Holidate,2020,TV-MA,2020-10-28,103,John Whitesell,"Fed up with being single on holidays, two stra...",https://m.media-amazon.com/images/M/MV5BYWVmYT...,44,tt9866072,6.1,"12,141",movie
3,13,Tenet,2020,PG-13,2020-09-03,150,Christopher Nolan,"Armed with only one word, Tenet, and fighting ...",https://m.media-amazon.com/images/M/MV5BYzg0NG...,69,tt6723592,7.8,"142,673",movie
4,14,The Trial of the Chicago 7,2020,R,2020-10-16,129,Aaron Sorkin,The story of 7 people on trial stemming from v...,https://m.media-amazon.com/images/M/MV5BYjYzOG...,76,tt1070874,7.9,"50,886",movie

In [11]:
pop_100_df["imdbVotes"] = pop_100_df["imdbVotes"].str.replace(",","")
pop_100_df.head()

,Rank,Title,Year,Rated,Released,Runtime,Director,Plot,Poster,Metascore,imdbID,imdbRating,imdbVotes,Type
0,7,The New Mutants,2020,PG-13,2020-08-28,94,Josh Boone,"Five young mutants, just discovering their abi...",https://m.media-amazon.com/images/M/MV5BZDQ2NT...,43,tt4682266,5.5,13285,movie
1,8,Freaky,2020,R,2020-11-13,102,Christopher Landon,After swapping bodies with a deranged serial k...,https://m.media-amazon.com/images/M/MV5BMTRkYm...,66,tt10919380,6.9,2129,movie
2,11,Holidate,2020,TV-MA,2020-10-28,103,John Whitesell,"Fed up with being single on holidays, two stra...",https://m.media-amazon.com/images/M/MV5BYWVmYT...,44,tt9866072,6.1,12141,movie
3,13,Tenet,2020,PG-13,2020-09-03,150,Christopher Nolan,"Armed with only one word, Tenet, and fighting ...",https://m.media-amazon.com/images/M/MV5BYzg0NG...,69,tt6723592,7.8,142673,movie
4,14,The Trial of the Chicago 7,2020,R,2020-10-16,129,Aaron Sorkin,The story of 7 people on trial stemming from v...,https://m.media-amazon.com/images/M/MV5BYjYzOG...,76,tt1070874,7.9,50886,movie

In [12]:
# Export to csv
pop_100_df.to_csv("Top_100_Popular_Movies.csv", index=False, header=True)

In [13]:
# Creating a new dataframe to store the title and genre
pop_100_genre_df = pd.DataFrame({
    "imdbID": imdbID, 
    "Title": Title,
    "Genre": Genre
})

pop_100_genre_df

,imdbID,Title,Genre
0,tt1087461,Megan Is Missing,"Drama, Horror, Thriller"
1,tt2076822,Chaos Walking,"Adventure, Sci-Fi"
2,tt7736496,Jingle Jangle: A Christmas Journey,"Family, Fantasy, Musical"
3,tt7737786,Greenland,"Action, Thriller"
4,tt0425674,We Can Be Heroes,Comedy
...,...,...,...
95,tt0361748,Inglourious Basterds,"Adventure, Drama, War"
96,tt0398417,The Batman,"Animation, Action, Adventure, Crime, Family, M..."
97,tt3501632,Thor: Ragnarok,"Action, Adventure, Comedy, Fantasy, Sci-Fi"
98,tt4685762,The Craft: Legacy,"Drama, Fantasy, Horror"
99,tt0120338,Titanic,"Drama, Romance"

In [14]:
pop_100_genre_df = pop_100_genre_df.loc[pop_100_genre_df["imdbID"].isin(pop_100_df["imdbID"])]

In [15]:
# Checking for null values
pop_100_genre_df.isnull().sum()

imdbID    0
Title     0
Genre     0
dtype: int64

In [16]:
# Dropping any null values and resetting the index
pop_100_genre_df.replace("N/A", np.NaN, inplace = True)

pop_100_genre_df.dropna(how = "any", inplace = True)

pop_100_genre_df.reset_index(drop = True, inplace = True)

C:\Users\matt_\anaconda3\lib\site-packages\pandas\core\frame.py:4166: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
<ipython-input-16-ed991d37b217>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pop_100_genre_df.dropna(how = "any", inplace = True)

In [17]:
# Creating empty lists to hold information for new dataframe
id_list = []
title_list = []
genre_list = []

# Looping through the dataframe to seperate data into first normal form
for i in range(0, len(pop_100_genre_df)):
    if len(pop_100_genre_df["Genre"][i].split(",")) > 1:
        words = pop_100_genre_df["Genre"][i].split(",")
        result = list(map(lambda x: x.strip(), words))
        
        genre_list.extend(result)
        
        for j in range(0, len(pop_100_genre_df["Genre"][i].split(","))):
            id_list.append(pop_100_genre_df["imdbID"][i])
            title_list.append(pop_100_genre_df["Title"][i])
    else:
        words = pop_100_genre_df["Genre"][i].strip()
        
        genre_list.append(words)
        
        id_list.append(pop_100_genre_df["imdbID"][i])
        title_list.append(pop_100_genre_df["Title"][i])

In [18]:
# Creating the new genre dataframe in first normal form
genre_df = pd.DataFrame({
    "imdbID": id_list,
    "Title": title_list,
    "Genre": genre_list
})

genre_df

         imdbID              Title    Genre
0     tt4682266    The New Mutants   Action
1     tt4682266    The New Mutants   Horror
2     tt4682266    The New Mutants   Sci-Fi
3    tt10919380             Freaky   Comedy
4    tt10919380             Freaky   Horror
..          ...                ...      ...
193   tt4685762  The Craft: Legacy    Drama
194   tt4685762  The Craft: Legacy  Fantasy
195   tt4685762  The Craft: Legacy   Horror
196   tt0120338            Titanic    Drama
197   tt0120338            Titanic  Romance

[198 rows x 3 columns]

In [19]:
genre_df.reset_index(inplace = True)

In [20]:
genre_df.rename(columns = {"index": "id"}, inplace = True)
genre_df

      id      imdbID              Title    Genre
0      0   tt4682266    The New Mutants   Action
1      1   tt4682266    The New Mutants   Horror
2      2   tt4682266    The New Mutants   Sci-Fi
3      3  tt10919380             Freaky   Comedy
4      4  tt10919380             Freaky   Horror
..   ...         ...                ...      ...
193  193   tt4685762  The Craft: Legacy    Drama
194  194   tt4685762  The Craft: Legacy  Fantasy
195  195   tt4685762  The Craft: Legacy   Horror
196  196   tt0120338            Titanic    Drama
197  197   tt0120338            Titanic  Romance

[198 rows x 4 columns]

In [21]:
# Exporting as a CSV
genre_df.to_csv("pop_100_genres.csv", index=False, header=True)